@import url("https://fonts.googleapis.com/css2?family=Amita&family=Great+Vibes&family=Poppins&family=Roboto+Slab:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: akira;
  src: url("../Resources/Akira\ Expanded\ Demo.otf");
}
html,
body {
  font-size: 62.5%;
  cursor: pointer;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}
:root {
  --primary-color: #8c00ff;
  --secondary-color: #212529;
  --highlighted-text-color: white;
  --hovered-color: linear-gradient(
    25deg,
    rgba(0, 67, 255, 0.7) 0%,
    rgba(137, 55, 255, 1) 100%
  );
  --clr-primary: #651fff;
  --clr-gray: #37474f;
  --clr-gray-light: #b0bec5;
}
nav {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

nav h1 {
  padding: 1.2rem 1rem;
  font-family: akira;
  font-size: 3rem;
}
nav h1 span {
  font-family: akira;
  color: var(--primary-color);
}
.menu {
  display: none;
  align-items: center;
  margin: 0 -1.5rem;
}

.menu a {
  margin: 0 2rem;
  text-decoration: none;
  transition: 0.3s;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
.hamburger {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  display: block;
  width: 2rem;
  height: 2rem;
}
.hamburger span {
  color: var(--secondary-color);
  font-size: 4rem;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  padding-top: 6rem;
  opacity: 0;
  transform: translateY(-100%);
  background-color: #000;
  color: #fff;
  transition: 0.3s;
}
.mobile-menu.is-open {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  transition: 0.3s;
}
.about,
.contact,
.login {
  color: black;
}
.Sign {
  color: var(--highlighted-text-color);
  background: linear-gradient(
    25deg,
    rgba(0, 67, 255, 0.7) 0%,
    rgba(137, 55, 255, 1) 100%
  );
  padding: 0.8rem 2rem;
  border-radius: 3rem;
}
.mobile-menu a:hover {
  color: crimson;
  background-color: #fff;
}
/*------------------------------------
============About Section============
-------------------------------------*/
.about-section,
.about-para {
  width: 100%;
  height: 60rem;
}
.about-para {
  margin-top: 80px;
  background-image: url("../Images/about-section.svg");
  background-size: cover;
}
.max-width {
  max-width: 1280px;
  height: 100%;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-section h1 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  font-family: "Poppins", sans-serif;
}
.about-section h1 span {
  font-family: "Great Vibes", cursive;
  color: var(--primary-color);
  font-size: 80px;
}
.about-section h2 {
  position: absolute;
  left: 10%;
  top: 20%;
  font-size: 150px;
  font-family: "Poppins", sans-serif;
}
.about-section h3 {
  position: absolute;
  left: 45%;
  top: 45%;
  font-size: 150px;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(
    25deg,
    rgba(0, 67, 255, 0.7) 0%,
    rgba(137, 55, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-section button {
  position: absolute;
  left: 50%;
  top: 90%;
  transform: translate(-50%, -50%);
  font-size: 21px;
  font-family: "Poppins", sans-serif;
  padding: 1.5rem 4rem;
  background: linear-gradient(25deg, #0043ffb3 0%, #8937ff 100%);
  cursor: pointer;
  border: none;
  border-radius: 5rem;
  color: var(--highlighted-text-color);
}
.about-para p {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  text-align: justify;
  font-size: 21px;
  font-family: "Poppins", sans-serif;
  color: var(--highlighted-text-color);
}
/*------------------------------------
============Values Section============
-------------------------------------*/
.value-section {
  width: 100%;
  margin-top: 100px;
}
.value-section h1 {
  text-align: center;
  padding: 25px 0;
  font-size: 8rem;
  font-family: "Poppins", sans-serif;
}
.value-section h1 span {
  font-size: 8rem;
  font-family: "Great Vibes", cursive;
  color: var(--primary-color);
}
.value-container {
  width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 200px;
  padding-bottom: 100px;
}
.mission-container {
  width: 100%;
  height: 45rem;
  border: 5px solid black;
  border-radius: 3rem;
  box-shadow: 20px 20px 0px var(--clr-primary);
  margin-bottom: 15%;
  position: relative;
}
.mission-container h1,
.vision-container h1 {
  background: linear-gradient(
    25deg,
    rgba(0, 67, 255, 0.7) 0%,
    rgba(137, 55, 255, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7rem;
  margin: 0 20px;
}
.mission-container h1 span,
.vision-container h1 span {
  font-family: "Poppins", sans-serif;
  font-size: 8rem;
}
.mission-container p,
.vision-container p {
  max-width: 900px;
  margin: 0 auto;
  text-align: justify;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
}
.vision-container {
  width: 100%;
  height: 45rem;
  box-shadow: 20px 20px 0px var(--clr-primary);
  border: 5px solid black;
  border-radius: 3rem;
}
/*------------------------------------
============Footer Section============
-------------------------------------*/
.footer {
  width: 100%;
  display: block;
}
.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  border-top: 2px solid rgb(87, 87, 87, 0.3);
  border-bottom: 2px solid rgb(87, 87, 87, 0.3);
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: var(--secondary-color);
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}

.footer-items p {
  font-size: 1.4rem;
  text-align: justify;
  line-height: 25px;
  color: var(--secondary-color);
}

.footer-items h1 {
  color: var(--secondary-color);
  font-family: akira;
}
.footer-items h1 span {
  color: var(--primary-color);
}
.border1 {
  height: 3px;
  width: 40px;
  background: var(--primary-color);
  color: var(--primary-color);
  background-color: var(--primary-color);
  border: 0px;
}

ul {
  list-style: none;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.5px;
}

ul a {
  text-decoration: none;
  outline: none;
  color: var(--secondary-color);
  transition: 0.3s;
}

ul a:hover {
  color: var(--primary-color);
}

ul li {
  margin: 10px 0;
  height: 25px;
}

li i {
  margin-right: 20px;
}

.social-media {
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
}

.social-media a {
  text-decoration: none;
}

.social-media i {
  height: 25px;
  width: 25px;
  margin: 20px 10px;
  padding: 4px;
  transition: 0.5s;
  color: var(--primary-color);
}

.social-media i:hover {
  transform: scale(1.5);
}

.footer-bottom {
  padding: 10px;
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
::selection {
  color: var(--highlighted-text-color);
  background-color: var(--primary-color);
}
.reveal {
  position: relative;
  transform: translateY(150px) rotateX(60deg);
  opacity: 0;
  transition: all 2s ease;
}

.reveal.active {
  transform: translateY(0px);
  opacity: 1;
}
/* for tablet mode view */
@media screen and (max-width: 1275px) {
  .footer-items {
    width: 50%;
  }
}
/* for mobile screen view */

@media (min-width: 768px) {
  .mobile-menu,
  .hamburger {
    display: none;
  }

  .menu {
    display: flex;
  }
}
@media screen and (min-width: 200px) and (max-width: 1120px) {
  .value-container {
    width: 98%;
    flex-direction: column;
  }
}
@media screen and(max-width: 1280px) {
  .about-section h2,
  .about-section h3 {
    font-size: 100px;
  }
}
@media screen and (max-width: 1024px) {
  .about-section button,
  .about-para p {
    font-size: 19px;
  }
  .about-section h2,
  .about-section h3 {
    font-size: 100px;
  }
}
@media screen and (max-width: 768px) {
  .about-section h2,
  .about-section h3,
  .about-section button,
  .about-para p {
    font-size: 18px;
  }
  .about-section h2,
  .about-section h3 {
    font-size: 60px;
  }
}
@media screen and (max-width: 660px) {
  .footer-items {
    width: 100%;
  }
}
@media (max-width: 320px) {
  .about-section h2,
  .about-section h3,
  .about-section button,
  .about-para p {
    font-size: 14px;
  }
  .about-section h2,
  .about-section h3 {
    font-size: 40px;
  }
}
